<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


    <!-- ****************************************************************************************** -->
    <!-- ***************************************** Lidar ****************************************** -->
    <!-- ****************************************************************************************** -->

    <link name="lidar_link">
        <visual>
            <origin xyz="0 0 0"/>
            <geometry>
                <mesh filename="package://${package_name}/meshes/lidar_link.stl" scale="${scale}"/>
            </geometry>
            <material name="black"/>
        </visual>
        <collision>
            <origin xyz="0 0 0"/>
            <geometry>
                <mesh filename="package://${package_name}/meshes/lidar_link.stl" scale="${scale}"/>
            </geometry>
        </collision>
        <xacro:sensor_inertial/>
    </link>

    <joint name="lidar_joint" type="fixed">
        <parent link="body_link"/>
        <child link="lidar_link"/>
        <origin xyz="0 0.042 0.183" rpy="0 0 0"/>
    </joint>

    <!-- ****************************************************************************************** -->
    <!-- ***************************************** IMU ******************************************** -->
    <!-- ****************************************************************************************** -->

    <link name="imu_link">
        <visual>
            <origin xyz="0 0 0"/>
            <geometry>
                <mesh filename="package://${package_name}/meshes/imu_link.stl" scale="${scale}"/>
            </geometry>
            <material name="black"/>
        </visual>
        <collision>
            <origin xyz="0 0 0"/>
            <geometry>
                <mesh filename="package://${package_name}/meshes/imu_link.stl" scale="${scale}"/>
            </geometry>
        </collision>
        <xacro:sensor_inertial/>
    </link>

    <joint name="imu_joint" type="fixed">
        <parent link="body_link"/>
        <child link="imu_link"/>
        <origin xyz="0.0001 -0.05999 0.18299" rpy="0 0 0"/>
    </joint>

    <!-- ****************************************************************************************** -->
    <!-- ************************************** Realsense ***************************************** -->
    <!-- ****************************************************************************************** -->

    <link name="realsense_link">
        <visual>
            <origin xyz="0 0 0"/>
            <geometry>
                <mesh filename="package://${package_name}/meshes/realsense_link.stl" scale="${scale}"/>
            </geometry>
            <material name="black"/>
        </visual>
        <collision>
            <origin xyz="0 0 0"/>
            <geometry>
                <mesh filename="package://${package_name}/meshes/realsense_link.stl" scale="${scale}"/>
            </geometry>
        </collision>
        <xacro:sensor_inertial/>
    </link>

    <joint name="realsense_joint" type="fixed">
        <parent link="body_link"/>
        <child link="realsense_link"/>
        <origin xyz="0 0.01 0.1605" rpy="${-pi/2} 0 0"/>
    </joint>

    <!-- ****************************************************************************************** -->
    <!-- **************************************** ZED2 ******************************************** -->
    <!-- ****************************************************************************************** -->

    <link name="zed2_link">
        <visual>
            <origin xyz="0 0 0"/>
            <geometry>
                <mesh filename="package://${package_name}/meshes/zed2_link.stl" scale="${scale}"/>
            </geometry>
            <material name="black"/>
        </visual>
        <collision>
            <origin xyz="0 0 0"/>
            <geometry>
                <mesh filename="package://${package_name}/meshes/zed2_link.stl" scale="${scale}"/>
            </geometry>
        </collision>
        <xacro:sensor_inertial/>
    </link>

    <joint name="zed2_joint" type="fixed">
        <parent link="body_link"/>
        <child link="zed2_link"/>
        <origin xyz="0 -0.05185 0.1601" rpy="${pi/2} 0 0"/>
    </joint>

</robot>